<h1>Student Dashboard</h1>
<section>
<table>
  <tbody>
    <aside>
    <tr><td>
      <% student = Student.find_by_id(session[:student_id]) %>
      <span><%= student.name %>'s Achievements</span></td></tr>
    </aside>
    <article>
    <tr>
      <% student.achievements.all.each do |achievement| %>
          <tr>
            <td><%= achievement.description %></td>
            <td><%= achievement.points %> points</td>
          </tr>
        <% end %>
    </tr>
  </article>
  </tbody>
</table>
</section>

<%= link_to 'Change your password', edit_student_path(Student.find_by(id: session[:student_id] )) %>
